
<h5>All purchases:</h5>
<% @purchases.each do |purchase| %>
  <%= link_to purchase do %>
  <p><%= purchase.date.strftime("%A %b #{purchase.date.day}") %> at <%= purchase.place %> for <%= number_to_currency(purchase.total_amount) %> </p>
  <% end %>
<% end %>
    <a href="purchases/new" class="btn btn-primary">Enter a purchase</a>
