<h1 class="cover-heading">Itemize your grocery receipts.</h1>
<p class="lead">Why did you spend so much at the grocery store last week? Last Month? In PriceBook, you can add track a receipt by adding a purchase, then listing the items while sorting them into Categories for reporting. </p>
<p class="lead">
  <a href="/signup" class="btn btn-lg btn-secondary">Sign up</a>
</p>
